<div *ngIf="loading">Cargando...</div>

<table *ngIf="!loading">
  <tr *ngFor="let visita of visitas">
    <td>{{ visita.id }}</td>
    <td>{{ visita.visitanteNombre }}</td>
    <td>{{ visita.visitanteDni }}</td>
    <td>{{ visita.fechaVisita }}</td>
    <td>{{ visita.horaEntrada }}</td>
    <td>{{ visita.horaSalida }}</td>
    <td>{{ visita.autorizado ? 'Sí' : 'No' }}</td>
    <td>
      <button (click)="editar(visita)">Editar</button>
      <button (click)="eliminar(visita.id!)">Eliminar</button>
    </td>
  </tr>
</table>