<aside class="app-sidebar">
  <nav class="app-sidebar__nav">
    <a routerLink="/monitor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="app-sidebar__link">
      Monitor
    </a>

    <a routerLink="/reos" routerLinkActive="active" class="app-sidebar__link">
      Reos
    </a>

    <a routerLink="/visitas" routerLinkActive="active" class="app-sidebar__link">
      Visitas
    </a>
    <a routerLink="/informes" routerLinkActive="active" class="app-sidebar__link">
      Informes
    </a>

  </nav>
</aside>