<nav class="sidebar-nav">
  <a routerLink="/monitor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['ADMIN'])">
    Monitor
  </a>

  <a routerLink="/reos" routerLinkActive="active" *ngIf="canAccess(['ADMIN'])">
    Reos
  </a>

  <!-- CAMBIO: Se eliminó 'GUARDIA', ahora solo lo ve el ADMIN -->
  <a routerLink="/validacion-visitante" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['ADMIN'])">
    Validación visitantes
  </a>

  <!-- CAMBIO: Se eliminó 'GUARDIA', ahora solo lo ve el ADMIN -->
  <a routerLink="/visitas" routerLinkActive="active" *ngIf="canAccess(['ADMIN'])">
    Visitas
  </a>

  <!-- Se mantiene: Lo ven ambos -->
  <a routerLink="/incidentes" routerLinkActive="active" *ngIf="canAccess(['ADMIN', 'GUARDIA'])">
    Incidencias
  </a>

  <!-- Se mantiene: Lo ven ambos -->
  <a routerLink="/validar-qr" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['ADMIN', 'GUARDIA'])">
    Acceso QR
  </a>

  <a routerLink="/visitante/mis-visitas" routerLinkActive="active" *ngIf="canAccess(['VISITANTE'])">
    Mis visitas
  </a>

  <a routerLink="/visitante/solicitar-visita" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['VISITANTE'])">
    Solicitar visita
  </a>
</nav>