<nav class="sidebar-nav">
  <a
    routerLink="/monitor"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['ADMIN', 'GUARDIA'])"
  >
    Monitor
  </a>

  <a
    routerLink="/reos"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['ADMIN'])"
  >
    Reos
  </a>

  <a
    routerLink="/visitas"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['ADMIN', 'FUNCIONARIO'])"
  >
    Visitas
  </a>

  <a
    routerLink="/validacion-visitante"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="canAccess(['GUARDIA'])"
  >
    Validación visitante
  </a>
</nav>