<div class="informes-resumen-cards" *ngIf="resumenGeneral">
  <div class="informes-resumen-cards__grid">
    <div class="informes-resumen-cards__card">
      <span class="label">Fecha</span>
      <strong>{{ resumenGeneral.fecha }}</strong>
    </div>

    <div class="informes-resumen-cards__card">
      <span class="label">Reos totales</span>
      <strong>{{ resumenGeneral.reoTotal }}</strong>
    </div>

    <div class="informes-resumen-cards__card">
      <span class="label">Visitas totales</span>
      <strong>{{ resumenGeneral.visitasTotal }}</strong>
    </div>

    <div class="informes-resumen-cards__card">
      <span class="label">Visitas hoy</span>
      <strong>{{ resumenGeneral.visitasHoy }}</strong>
    </div>

    <div class="informes-resumen-cards__card">
      <span class="label">Incidentes totales</span>
      <strong>{{ resumenGeneral.incidentesTotal }}</strong>
    </div>
  </div>
</div>