<div class="monitor-container">
  <div class="monitor-card">
    <h2>Monitor</h2>
    <p>Has iniciado sesión correctamente.</p>
    <p>Bienvenido al panel principal.</p>

    <button (click)="logout()">Cerrar sesión</button>

    <hr>

    <div *ngIf="loading">
      <p>Cargando datos del monitor...</p>
    </div>

    <div *ngIf="!loading && errorMsg">
      <p>{{ errorMsg }}</p>
    </div>

    <div *ngIf="!loading && !errorMsg && data">
      <h3>Resumen del sistema</h3>
      <p>Total reos: {{ data.reoTotal }}</p>
      <p>Total visitas: {{ data.visitasTotal }}</p>
      <p>Total incidentes: {{ data.incidentesTotal }}</p>
    </div>
    <button pButton 
        type="button" 
        label="Gestionar Reos" 
        icon="pi pi-users" 
        class="p-button-lg" 
        style="padding: 1.5rem 2rem; font-size: 1.25rem; font-weight: bold;"
        routerLink="/reos">
</button>

    <div *ngIf="!loading && !errorMsg && !data">
      <p>No hay datos disponibles.</p>
    </div>
  </div>
</div>